body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  background-color: #7393b3;
  color: rgb(232, 232, 232);
}

.App > div {
  padding: 20px;
}

.inputArea {
  text-align: left;
  height: 100vh;
  width: 50%;
  border-right: 1px solid rgb(232, 232, 232);
}

textarea {
  color: rgb(232, 232, 232);
  width: 100%;
  height: 75vh;
  border: none;
  overflow: auto;
  outline: none;
  background-color: #7393b3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.renderedArea {
  text-align: left;
  width: 50%;
}

.editorHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.counts {
  display: flex;
}

.counts > p {
  padding: 0px 5px;
}

a {
  color: rgb(232, 232, 232);
}
img {
  height: 300px;
  width: auto;
}

pre {
  background: #939393;
  border-radius: 5px;
  padding: 10px;
}

.download {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
}
.download:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.rendered {
  overflow-y: auto;
  height: 75vh;
}
